<!DOCTYPE html>
<html>
<head>
  <title>Hello world.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>body {font: normal 18px Arial; margin: 4em;}</style>
</head>
<body>
  <h2>
    Hello world.
  </h2>
  <p>
    Hostname: <%= node[:hostname] %><br />
    OS: <%= node[:platform].capitalize %> <%= node[:platform_version] %><br />
    Private IP: <%= node[:ipaddress] %><br />
    Public hostname: <%= node[:cloud][:public_hostname] %><br />
    <br />
    Apache version: <%= node[:packages][:apache2][:version] %><br />
    <% if node[:ec2] %>AWS instance type: <%= node[:ec2][:instance_type] %><% end %><br />
    Chef recipe(s): <%= node[:recipes] %><br />
  </p>
</body>
</html>
